<!-- Main navigation -->
<header>
  <!--Navbar-->
<app-navbar></app-navbar>
  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('../../../assets/images/lucia-foster-JJ6aL7nCiv0-unsplash.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
            <hr class="hr-light">
            <h6 class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea exercitationem quae nihil ipsum unde excepturi neque asperiores quam? Reprehenderit, aliquid?</h6>
            <a mdbBtn color="white" (click)="openPopup()"  mdbWavesEffect>Sign In</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <app-signup></app-signup>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

<div id="popup1" class="overlay">
  <div class="popup">
    <a class="close" (click)="closePopup()">&times;</a>
<!-- Default form login -->
<app-login></app-login>
<!-- Default form login -->
  </div>
</div>
