<div class="card">
                
    <div class="card-body px-lg-5">
      <div class="text-center text-muted mb-4">
        <small></small>
      </div>
  <p class="h4 mb-4 text-center">Sign up</p>
      <form>
        <!-- Material outline input -->
        <div class="md-form md-outline">
            <input type="text" id="form1" class="form-control" formControlName="required" mdbInput>
            <label for="form1">Full Name</label>
        </div>
        <div class="md-form md-outline">
          <input type="text" id="form1" class="form-control" formControlName="required" mdbInput>
          <label for="form1">Email</label>
       </div>
       <div class="md-form md-outline">
        <input type="text" id="form1" class="form-control" formControlName="required" mdbInput mdbValidate>
        <label for="form1">Phone Number</label>
       </div>
      <div class="md-form md-outline">
          <!-- <mdb-icon fas icon="envelope"></mdb-icon> -->
          <input type="password" id="inputIconEx1" class="form-control" mdbInput>
          <label for="inputIconEx1">Password</label>
      </div>  
        <div class="text-center">
          <input type="submit" name="login" class="btn btn-primary my-4" value="Log In!">
        </div>
      </form>
    </div>
  </div>
