<div class="wrapper default-theme" [ngClass]="getClasses()">
    <app-navbar></app-navbar>
    <main>
      <app-sidebar></app-sidebar>
      <div class="pages container-fluid p-4 ">
        <div>
          <h4 class="mb-4" style="color: #fff;">Dashboard</h4>
                  
        
            <div class="row d-flex justify-content-center align-items-center mb-4 align-items-stretch">
              <div class="card border-0 rounded-0">
                <div class="card-title mb-1 p-3">
                  <h6>Purchases</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive-md">
                    <div class="table-responsive">
                      <app-user-table></app-user-table>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>

            <div class="row d-flex justify-content-center align-items-center mb-4 align-items-stretch">
              <div class="card border-0 rounded-0 w-75">
                <div class="card-title mb-1 p-3">
                  <h6>Changes</h6>
                </div>

                <div class="alert alert-danger" *ngIf="errorMsg">
                  {{errorMsg}}
                </div>
          
                <div class="card-body">
                  <form [formGroup]="changeuserForm" (ngSubmit)="onSubmit()">
                    <div class="md-form md-outline">
                      <input mdbInput required [class.is-invalid]="changeuserForm.get('isbn').invalid && changeuserForm.get('isbn').touched" formControlName="isbn" type="tel" id="form1" name="isbn" class="form-control">
                      <label for="form1" class="">ISBN</label>
                      <div *ngIf="changeuserForm.get('isbn').invalid && changeuserForm.get('isbn').touched" >
                        <small class="text-danger" *ngIf="changeuserForm.get('isbn').errors?.required">This Field is required</small>
                        <small class="text-danger" *ngIf="changeuserForm.get('isbn').errors.pattern">Length must be 12 and numeric</small>
                      </div>                   
                    </div>  
                    <div class="md-form md-outline">
                      <input mdbInput type="tel" [class.is-invalid]="changeuserForm.get('sales').invalid && changeuserForm.get('sales').touched" formControlName="sales" id="form1" name="sales" class="form-control">
                      <label for="form1" class="">Sales</label>
                      <div *ngIf="changeuserForm.get('sales').invalid && changeuserForm.get('sales').touched" >
                        <small class="text-danger" *ngIf="changeuserForm.get('sales').errors.pattern">Field must be numeric</small>
                      </div>                   
                    </div>
                    <div class="md-form md-outline">
                      <input mdbInput type="tel" [class.is-invalid]="changeuserForm.get('royality').invalid && changeuserForm.get('royality').touched" formControlName="royality" id="form1" name="royality" class="form-control">
                      <label for="form1" class="">Royality</label>
                      <div *ngIf="changeuserForm.get('royality').invalid && changeuserForm.get('royality').touched" >
                        <small class="text-danger" *ngIf="changeuserForm.get('royality').errors.pattern">Field must be numeric</small>
                      </div>                   
                    </div>
                    <div class="md-form md-outline">
                      <input [class.is-invalid]="changeuserForm.get('amount').invalid && changeuserForm.get('amount').touched" formControlName="amount" mdbInput type="tel" id="form1" name="amount"class="form-control">
                      <label for="form1" class="">Amount</label>
                      <div *ngIf="changeuserForm.get('amount').invalid && changeuserForm.get('amount').touched" >
                        <small class="text-danger" *ngIf="changeuserForm.get('amount').errors.pattern">Field must be numeric</small>
                      </div>                   
                    </div>
                    <div class="form-group text-center">
                      <button [disabled]="!changeuserForm.valid" type="button" type="submit" mdbBtn color="primary" mdbWavesEffect>Change</button>  
                    </div>
                  </form>
               
                </div>
                </div>
        
              </div>
            

          </div>
        
        </div>
        <hr>
      <div class="overlay" (click)="toggleSidebar()"></div>
    </main>
  </div>
  