<div class="view" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Our New Course is Ready</h1>
            <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">It comes
              with a lot of new features, easy to follow videos and images. Check it out now!</h5>
            <div class="wow fadeInUp" data-wow-delay="0.4s">
              <a mdbBtn color="purple" rounded="true" mdbWavesEffect><mdb-icon fas icon="user" class="left"></mdb-icon> Sign up!</a>
              <a mdbBtn color="purple" rounded="true" outline="true" mdbWavesEffect><mdb-icon fas icon="book" class="left"></mdb-icon>
                Learn more</a>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>