                
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <div class="md-form">
      <input mdbInput type="text" id="form1" class="form-control">
      <label for="form1" class="">Username</label>
  </div>  
  <!-- Password -->
  <div class="md-form">
      <input mdbInput type="text" id="form1" class="form-control">
      <label for="form1" class="">Password</label>
  </div>  

  <div>
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button type="button" routerLink='/profile' mdbBtn color="primary" mdbWavesEffect>Sign In</button>  

</form>
