<table *ngIf="tabledata" class="table ">
  <thead>
    <tr>
      <th style="width: 20%;">Author Name</th>
      <th style="width: 20%;">Book Name</th>
      <th style="width:20%;">ISBN</th>
      <th style="width:10%;">Sales</th>
      <th  style="width:5%;">Royality</th>
      <th style="width:5%;">Amount</th>
      <th  style="width:5%;">Withdrawal Amount</th>
    </tr>
  </thead>
  <tbody class="no-border-x">
    <tr  *ngFor="let friends of tabledata">
      <td>
        {{friends.name}}
      </td>
      <td>
        {{friends.book_name}}
      </td>
      <td>
        {{friends.isbn}}
      </td>
      <td>
          {{friends.sales}}
      </td>
      <td>
          {{friends.royality}}
      </td>
      <td>
        {{friends.amount}}
      </td>
      <td>
        {{friends.withdrawal_amount}}
      </td>
    </tr>  
  </tbody>
</table>


