<aside class="sidebar shadow-sm">

  <div class="navbar-header pl-2 pr-2 ml-3 text-center">
    <a class="navbar-brand m-0 w-100" href="#">
      <img src="../../../assets/images/loga(1).png" alt="logo" width="35px">
      <span class="ml-1" style="color: black;">Reality Of Words</span>
    </a>
  </div>


    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
      <div class="picture-wrapper mb-4">
        <div class="user-picture m-auto">
          <img src="./assets/img/user.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="profile-details text-center pb-4">
        <p class="mb-0 text-uppercase name">John Doe</p>
      </div>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
      <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
      <ul class="menu-items">
        <li >
          <a href="#" routerLink="/dashboard" routerLinkActive="active">
            <i class="fa fa-tv"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" routerLink="/reschedule" routerLinkActive="active">
            <i class="fas fa-gem"></i>
            <span>Royality</span>
          </a>
        </li>
        <li>
          <a href="#" routerLink="/myprofile" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <span>My Profile</span>
          </a>
        </li>
        <li>
        <li *ngIf="auth.authsidebar">
            <a href="#" routerLink="/check-information" routerLinkActive="active">
              <i class="fa fa-user"></i>
              <span>Changing Information</span>
            </a>
          </li>
        <li>
        <li>
            <a *ngIf="auth.authsidebar" href="#" routerLink="/check-information" routerLinkActive="active">
              <i class="fa fa-user"></i>
              <span>Add New Member</span>
            </a>
          </li>
        <li>
  
    
          <a (click)="onLogout()" routerLinkActive="active">
            <i class="fas fa-power-off"></i>
            <span>Log-Out</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>